
body{
    font-family: 'Poppins', sans-serif;
    background-image: url('./assets/rajaampat.jpg');
    height: 660px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-hero{
    z-index: 1;
}
/* navbar style */
.navbar{
    z-index: 3;
}

*{
    z-index: 2;
}

.Accsent-img{
    z-index: 1;
}

.navbar-brand{
    font-weight: 700;
    font-size: 20px;
}

.nav-link{
    font-size: 16px;
}

.nav-link.active{
    font-weight: 700;
}

.button-secondary{

    width: 133px;
    height: 40px;
    background-color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 700;
}

/* .button-primary{
    width: 133px;
    height: 40px;
    background-color:transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
} */
/* hero-section */
#hero{

    height: 100vh;
    width: 100%;
}
.img-hero{
height: 100%;
}
.hero-tagline h4{
color: #fff;
font-size: 30px;
font-weight: 500;
line-height: 50px;
}
.hero-tagline p{
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
    width: 85%;
    }
/* .button-lg-primary{
    width: 237px;
    height: 70px;
    border: none;
    font-size: 20px;
    font-weight: 700;
} */
/* layanan section */
#layanan{
    padding: 10px 0;
    background-color: #fff;
    margin : 5px 0;
}


h2{
    font-size: 48px;
    font-weight: 500;
    color: var(--pr-color);
}



.card-layanan p{
    color: #fff;
    font-size: 14px;
}


  .card {
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            margin-right: 10px;


        }
        .card img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .price-tag {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: rgba(0, 123, 255, 0.9);
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            font-weight: bold;

        }
  .card-wisata {
    width: 100%;
    position: relative;
    border-radius: none;
    overflow: hidden;
    border-top-left-radius: none;
    border-top-right-radius: none;
    margin: 2px 0;
    padding: 4px 5px;
    border-top-left-radius: 10px;
    }
  .card-pilihan {
    width: 100%;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    margin: 2px 0;
    padding: 4px 20px;

    }

    .card-layanan{
        width: 100%;
        height: 313px;
        border: 1px solid #fff;
        border-radius: 5px;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
    }



    .circle-icon{

        border-radius: 50%;
    }

    .footer {
        background-color: #0056b3;
        color: white;
        padding: 20px 0;
        text-align: center;



    }
    .footer a {
        color: white;
        margin: 0 10px;
    }
    .card-footer{
        background-color: #0056b3;

    }



    hr {
        border: none;
        height: 5px; /* Ketebalan garis */
        background-color: #fff; /* Warna garis */
        margin: 20px 0; /* Jarak vertikal */
    }

